.center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
  }

  .h1 {
    font-family: Geneva;
    }
   
    
    h6{
      color: black;
      text-align: center;
    }
    .modal-body{
    

      height:400px; 
      overflow:auto; 
      z-index:999; 
   
    }