a {
  color: grey;
  background-color: transparent;
  text-decoration: none;
 
}

  ul {
    list-style-type: none;
    margin-left: 37%;
    padding: 0
}



.page {
    background-color: transparent;
    padding: 2%;
    margin: auto
}

.fa {
    color: #f2dd1d
}

.card-img-top {
    width: 98%;
    height: 225px
}

.view {
    background-color: #dfe6e0;
    padding: 10px;
    margin: 20px
}

.card {
    width: 95%;
    padding: 0px;
    height: 95%;
    margin-left: 2%;
  
    
}

.card-footer {
    background-color: #dfe6e0;
    font-weight: 700;
    position : relative;
    text-align: center;
    bottom :   0;
}
.btn{
    background-color: grey;
    border: grey;
    color: white;
    width: 100%;
   
}

h1{
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
    height: 100%;
  }



















