.img-fluid{
    height: 5%;
    width: 5%;
    align-items : center;
}

.nav-text{

  color:grey;
 font-style: italic;
    font-size: 30px;
    text-align: right;

}
.footer{
   margin-top: 30%;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f5f5dc;
}

.icon
{
margin-left: 0%;
color:rgb(58, 56, 56);
font-size: 70px;
}